body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-container {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.weather-card {
  
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.day-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.day-card {
  
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.day-square {
  
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 500px;
}

.day-square-content {
  margin-top: 10px;
  display: flex;
}

.weather-icon {
  max-width: 50px;
  max-height: 50px;
}

.favorites-container {
  text-align: center;
  margin-top: 50px;
}

.favorite-item {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-item:hover {
  background-color: #e0e0e0;
}



@media (max-width: 600px) {
  body {
    background-image: url('./back.jpg');
  }

  .app-container,
  .weather-container {
    padding: 10px;
  }

  .weather-card {
    margin-top: 10px;
  }

  .day-square {
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .day-square-content {
    flex-direction: column;
  }

  .weather-icon {
    max-width: 100%;
    max-height: auto;
  }

  .content-container {
    padding: 10px;
  }

  .day-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .day-card {
    width: 100%;
  }
}
.weather-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
 
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.weather-card {
  background: inherit;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
 
}

.favorite-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.favorite-button:hover {
  background-color: #0056b3;
}
